<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/insertdetails" method="post"> 
        Course name:<input type="text" name="cname" id="cname" ><br>
        Fees:<input type="text" name="fees" id="fees" required min="1" title="Fees should be greater than zero"><br>
        Duration:<input type="text" name="duration" id="duration" required min="1" title="Duration should be greater than zero"><br>
        <button type="submit" name="btn" id="btn">insert Course</button>
    </form>
</body>
</html>